body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
	line-height: 1;
}
body{
	font-family: "微软雅黑";
	background: #ffffff;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
}
img{
	border: none;
	display: block;
}

//轮播
html,
body {
  position: relative;
  // height: 100%;
}
body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}



//轮播
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
}
.swiper-slide .small_title {
  width: 100%;
  height: 117px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.swiper-slide h2 {
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 56px;
  line-height: 56px;
  font-weight: 100;
  // z-index:2;
}
.swiper-slide input {
  height: 40px;
  margin: 0 10px;
  width: 145px;
  margin-top: 11px;
  letter-spacing: 1px;
  background: #1b1b1b;
  border: 2px solid #1b1b1b;
  color: #e5dfd9;
  cursor: pointer;
  outline: none;
}
//轮播小圆点
.swiper-pagination-bullet {
  opacity: 1;
  background: #ffffff;
}
//头部
.header{
    height: 120px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 0 20px;
	background: rgba(0,0,0,0);
	
}
.header:hover{
    background: rgba(0,0,0,1);
}
.header .nav_logo{
    height: 69px;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1001;
    overflow: hidden;
}
.header .nav_logo .nav_logo_top .logo{
    width: 160px;
    height: 26px;
    position: absolute;
    left: 50%;
    top: 0;
	transform: translateX(-50%);
}
.header .nav_logo_top{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-between;
} 
.header .navbar_lt a{
    float: left;
    color: #fff;
    font-size: 12px;
	margin: 0 10px;
}
.header .navbar_lt a:hover{
	text-decoration: none;
	
}
.header .navbar_lt .glyphicon{
    font-size: 12px;
    margin-right: 5px;
    color: gray;
}
.header .navbar_rt{
    width: 210px;
    height: 26px;
    font-size: 12px;
}
.header .navbar_rt a{
    color: #fff;
    margin: 0 5px;
}
.header .navbar_rt a:hover{
    text-decoration: none;
}
.header .nav_logo a:hover span{
    color: #fff;
}
.navbar_rt .glyphicon{
    color: gray;
    margin: 0 3px;
}
.header #sousou{
    width: 30px;
    height: 30px;
    float: right;
}


//导航
.nav_bt{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-size: 12px;
	position: relative;
}
 .nav_bt .navbar_lt{
    position: absolute;
    left: 0;
}
 .nav_bt .navbar_rt{
    width: 140px;
    position: absolute;
    right: 0;
}
 .nav_bt .navbar_rt #sousou{
    margin-top: -10px;
}
.nav_bt>li{
	float: left;
	position: relative;
}
.nav_bt li a{
    font-size: 14px;
    color: #fff;
	padding: 0 15px;
	height: 51px;
}
.nav_bt li:nth-of-type(1):hover .triangle{
	display: block;
}
.nav_bt li:nth-of-type(1):hover .consult{
	// display: block;
	// z-index: 200;
	background: rgba(255,255,255,.9);
	opacity: 90;
	transition: all 1s;
}
 .nav_bt a:hover{
    color: #fff;
	text-decoration: none;
}
 .nav_bt a:hover span{
    color: #fff;
}

//全新咨询二级菜单

//导航栏的轮播图
#swiper-container{
	position: absolute;
	left: 40%;
	top: -20%;
	// z-index: 9999;
	margin-top: 100px;
}
#swiper-pagination{
	position: absolute;
	left: 0;
	top: 80%;
	// z-index: 9999;
	.swiper-slide{
		position: absolute;
	}
}
#swiper-wrapper{
	position: absolute;
	left: 0;
	img{
		width: 350px;
	}
	// z-index: 9999;
}
//导航下的小三角

.nav_bt{
	.triangle {
		border: 5px solid transparent;
		border-bottom-color: #fff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-5px, -5px);
		display: none;
	}
}
.consult{
	width: 1400px;
	position: absolute;
	top: 48px;
	left: 305px;
	transform: translateX(-50%);
	background: #ffffff;
	height: 240px;
	padding: 20px;
	z-index: 200;
	background: rgba(255,255,255,0);
	opacity: 0;
	// display: none;
	transition: 1s;
	a:hover{
		color: rgb(88, 88, 88);
	}
	
	h4{
		font-size: 13px;
		color: #1b1b1b;
		font-weight: 900;
		margin-bottom: 20px;
	}
	li{
		height: 20px;
		margin: 10px 0;
		a{
			color: rgb(88, 88, 88);
			font-size: 12px;
			line-height: 10px;
			height: 20px;
			padding: 0;
			margin: 0;
			font-weight: 500;
			letter-spacing: .5;
		}
	}
	.consultLeft{
		width: 15%;
		float: left;
		margin-left: 200px;
	}
	.consultCenter{
		width: 40%;
		padding: 0 30px 20px;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		height: 100%;
		float: left;
		li{
			width: 75px;
			margin: 15px 0;
		}
	}
	.consultRight{
		padding-left: 30px;
		float: left;
		width: 16%;
		a{
			padding: 0;
			img{
				float: left;
				width: 70px;
				height: 70px;
			}
			
		}
		p{
			float: right;
			a{
				display: block;
				font-size: 12px;
				color: rgb(88, 88, 88);
				height: 20px;
			}
			.one{
				color: #1b1b1b;
				font-weight: 700;
			}
		}
	}
}

//头部下半部分默认隐藏
.btHeader{
	padding-top: 20px;
	height: 51px;
	display: none;
	position: fixed;
	left:0;
	top: 0;
	z-index: 101;
}
//底部
.footer{
	width: 100%;
	height: 430px;
	background: #1b1b1b;
	position: relative;
	padding: 60px 120px 15px;
}
.footer .goToTop{
	width: 36px;
    height: 36px;
	background: #fff url(../images/icon.png) no-repeat;
	background-position: -526px -130px;
	border: 1px solid #f5f5f5;
	position: absolute;
	right: 30px;
	top: -36px;
}
.footer .content_left{
	width: 860px;
	overflow: hidden;
	float: left;
}
.footer .content_left li{
	float: left;
	width: 200px;
}
.footer .content_left .left_one p{
	font-size: 12px;
    color: #e5dfd9;
	opacity: .5;
	margin-bottom: 20px;
}
.footer .content_left .left_one a {
	width: 100px;
	display: block;
	font-size: 10px;
	line-height: 2.5;
	color: #e5dfd9;
}
.footer .content_left .left_one a span{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.footer .content_left .left_one a:nth-of-type(1) span{
	background: url(../images/icon.png) no-repeat;
	background-position: 0 -368px;
}
.footer .content_left .left_one a:nth-of-type(2) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -23px -368px;
}
.footer .content_left .left_one a:hover{
	text-decoration: none;
	color: #fff;
}
.footer .content_left .left_four a:nth-of-type(5){
	margin-bottom: 30px;
}
.footer .content_left .left_four a:nth-of-type(1) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -44px -368px;
}
.footer .content_left .left_four a:nth-of-type(2) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -68px -368px;
}
.footer .content_left .left_four a:nth-of-type(6) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -113px -369px;
}
.footer .content_left .left_four a:nth-of-type(7) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -133px -369px;
}
//滑过改变图标颜色
.footer .content_left .left_one a:hover span{
	background-position-y: -514px;
}
.footer .content_left .left_four a:nth-of-type(4) span{
	background: url(../images/icon.png) no-repeat;
	background-position: -40px -750px;
}
.footer .content_left .left_one a:nth-of-type(4):hover span{
	background-position-x: -20px;
}
.footer .content_left .left_four a:nth-of-type(3) span{
	background: url(../images/dy1.png) no-repeat;
}
.footer .content_left .left_four a:nth-of-type(3):hover span{
	background: url(../images/dy2.png) no-repeat;
	background-position-y: -4px ;
}
.footer .content_left .left_four a:nth-of-type(5) span{
	color: #e5dfd9;
	line-height: 20px;
	width: 30px;
	font-weight: 900;
	margin-left: 5px;
}
.footer .content_left .left_four a:nth-of-type(5):hover span{
	color: red;
}
.footer .content_left .left_five{
	margin-top: -50px;
}
//content-right
.content_right{
	float: left;
}
.content_right>p{
	font-size: 12px;
    color: #e5dfd9;
	opacity: .5;
	padding-bottom: 15px;
	clear: both;
}
.content_right p:nth-of-type(2){
	padding-top: 40px;
	padding-bottom: 25px;
}
.content_right p:nth-of-type(3){
	margin-top: -10px;
	padding-bottom: 25px;
}
.content_right li{
	font-size: 11px;
	color: #e5dfd9;
	margin-bottom: 30px;
}
.content_right li:nth-of-type(1) a{
	color: #e5dfd9;
	text-decoration: underline;
}
.content_right li:nth-of-type(2) input{
	width: 160px;
	height: 30px;
	outline: none;
	background: black;
	border: 0;
	display: block;
	float: left;
}
.content_right li:nth-of-type(2) .hint{
	width: 30px;
	height: 30px;
	float: left;
	background: url(../images/icon.png) no-repeat black;
	background-position: 5px -571px ;
}
.content_right li:nth-of-type(2) .go{
	width: 30px;
	height: 30px;
	background: black;
	display: block;
	float: left;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
}
.content_right li:nth-of-type(2) .go:hover{
	text-decoration: none;
	border:1px gray solid;
	background:  #e5dfd9;
	opacity: .5;
}
.content_right li:nth-of-type(3) select{
	width: 130px;
	height: 25px;
	background: black;
	color: #ffffff;
	border: 0;
	outline: none;
	font-size: 12px;
	text-indent: 5px;
	margin-right: 15px;
}
.content_right li:nth-of-type(3) select option{
	display: block;
	height: 50px;
	width: 130px;
	border-radius: 3px;
	border-bottom: 1px solid #e5dfd9;
}
//footer-text
.footer .footer_text{
	clear: both;
	padding-top: 70px;
}
.footer .footer_text li{
	width: auto;
	font-size: 10px;
	font-weight: 900;
	color: #e5dfd9;
	opacity: .5;
}
.footer .footer_text li:nth-of-type(2){
	margin-left: 30px;
	text-indent: 15px;
}
.footer .footer_text li a span{
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 12px;
	background: url(../images/icon.png) no-repeat;
	background-position: -663px -40px;
}
.footer .footer_text li:nth-of-type(3){
	margin-left: 30px;
	text-indent: 15px;
}
.footer .footer_text li:nth-of-type(3) a span{
	background: url(../images/icon.png) no-repeat;
	background-position: -577px -85px;
}
.footer .footer_text li:nth-of-type(4){
	margin-left: 30px;
	text-indent: 15px;
}
//去除划过下划线
.footer .footer_text li a{
	text-decoration: none;
	font-weight: 900;
	color: #e5dfd9;
	font-size: 10px;
}


//划过中国大陆地区显示隐藏
.place {
	width: 330px;
	height: 300px;
	background: #ffffff;
	position: absolute;
	left: 30px;
	top: 60px;
	z-index: 100;
	padding: 25px;
	display: none;

	//小三角
	.triangle {
	  border: 5px solid transparent;
	  border-bottom-color: #fff;
	  position: absolute;
	  left: 20px;
	  top: -10px;
	}
	h6 {
	  padding: 20px 0;
	  font-size: 13px;
	}
	p {
	  font-size: 12px;
	  color: #757575;
	}
	.china {
	  font-size: 12px;
	  color: #757575;
	  margin: 20px 0;
	  padding-right: 15px;
	  border-right: 1px solid #757575;
	}
	a {
	  font-size: 12px;
	  color: #757575;
	  margin-left: 15px;
	}
	a:hover {
	  text-decoration: none;
	}
	.select {
	  select {
		height: 30px;
		width: 130px;
		font-size: 12px;
		color: #757575;
		background: rgb(228, 226, 226);
		outline: none;
	  }
	}
	.threeP {
	  margin-left: -15px;
	  margin-top: 10px;
	  line-height: 20px;
	  span {
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(../images/icon.png) no-repeat;
		background-position: 0 -206px;
	  }
	}
  }