@import "public";
//banner
.box {
  position: relative;
  display: none;
  .banner img {
    width: 100%;
  }
  .commodity {
    width: 993px;
    height: 155px;
    position: absolute;
    top: 180px;
    left: 30px;
    h5 {
      font-weight: 300;
      padding-bottom: 12px;
      font-size: 12px;
      color: #e5dfd9;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
    }
    h2 {
      font-size: 28px;
      color: #fff;
      letter-spacing: 1px;
      margin-top: 23px;
      margin-bottom: 39px;
    }
    a {
      display: block;
      width: 191px;
      font-size: 12px;
      background: #1b1b1b;
      border: 2px solid #1b1b1b;
      color: #e5dfd9;
      padding: 0 5px;
      height: 40px;
      text-align: center;
      line-height: 36px;
    }
    a:hover {
      background: #303030;
      text-decoration: none;
    }
  }
  .smallBox {
    width: 375px;
    height: 400px;
    background: #fff;
    position: absolute;
    right: 60px;
    top: 200px;
    padding: 15px;
    > p {
      text-align: center;
      color: #4b4b4b;
      font-size: 12px;
      padding: 22px 0;
      border-bottom: 1px solid #b8b8b8;
    }
    .help {
      position: relative;
      p {
        width: 100%;
        color: #999;
        padding: 24px 25px 22px;
        font-size: 13px;
        float: left;
        border-bottom: 1px solid #b8b8b8;
      }
      span {
        display: inline-block;
        width: 48px;
        position: absolute;
        right: 0;
        top: 0;
        // float: right;
        vertical-align: middle;
        line-height: 60px;
        font-size: 18px;
        font-weight: 900;
        color: #999;
      }
    }
    .pay {
      span {
        top: 60px;
      }
    }
    .gift {
      span {
        top: 120px;
      }
    }
    .delivery {
      span {
        top: 180px;
      }
    }
    .returns {
      p {
        border-bottom: 0;
      }
      span {
        top: 240px;
      }
    }
  }
  h3 {
    width: 100%;
    padding: 35px 0 0;
    font-size: 23px;
    color: #4b4b4b;
    text-align: center;
  }
}
.bigBox {
  padding: 0 40px;
  display: none;
}
.swiper-container {
  overflow: hidden;
  .swiper-wrapper {
    // padding: 0 30px;
    display: flex;
    justify-content: space-between;
    .swiper-slide {
      width: 340px;
      // height: 430px;
      text-align: center;
      img {
        width: 340px;
        height: 340px;
      }
      .details {
        h5 {
          font-size: 14px;
          color: #4b4b4b;
          letter-spacing: 1px;
          line-height: 14px;
          margin-bottom: 10px;
          margin-top: 30px;
        }
        p {
          font-size: 14px;
          color: #666;
        }
        h6{
          font-size: 14px;
          color: #313131;
          margin-top: 15px;
          margin-bottom: 65px;
        }
      }
    }
  }
}

//文字描述

//轮播按钮
.swiper-button-disabled {
  display: none;
}
.swiper-container {
  width: 100%;
  // height: 300px;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}
.append-buttons a {
  display: inline-block;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-button-next {
  --swiper-navigation-color: #ffffff;
}
.swiper-button-prev {
  --swiper-navigation-color: #ffffff;
}


//添加商品后购物车样式
body{
  background: url(../images/cartbanner.jpg);
}
.bBox{
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-top: 400px;
  position: relative;
  .smallLogo{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
  }
  .sBox{
    width: 100%;
    background: rgb(194, 193, 193);
    padding: 50px;
    .cartList{
      width: 100%;
      border-top: 1px solid rgb(199, 194, 194);
    }
  }
} 
.cartHead li {
  width: 200px;
  height: 50px;
  float: left;
  font: 32px/50px "楷体";
  text-align: center;
}

.goodInfo {
  border: 1px solid black;
  border-top: none;
  height: 50px;
}

.goodInfo li {
  float: left;
  width: 200px;
  height: 50px;
  float: left;
  font: 24px/50px "";
  text-align: center;
}

.goodInfo li input {
  width: 30px;
  text-align: center;
}

.goodInfo li.num a {
  display: inline-block;
  width: 10px;
  height: 20px;
  font: 12px/20px "";
  background: #ddd;
  text-decoration: none;
}

.goodInfo li img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  text-align: center;
}